.box {
    position: relative;
    border-top: 1px solid #ced0d7;
    &__content {
        overflow: hidden;
        transition: 0.4s;

    }
    &__label {
        position: relative;
    }
    &__sign {
        padding-left: 100px;
        padding-right: 10px;
    }
    &__panel {
        display: flex;
        height: 40px;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
    }
    &:last-child {
        border-bottom: 1px solid #ced0d7;
    }
}

.rotate {
    transform: rotate(90deg);
}

.text {
    padding-bottom: 20px;
    padding-top: 10px;
}
.delete_accordion_item__button{
    padding: 5px;
    margin-bottom: 3px;
    background-color: #ec1132;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none
}

.update_accordion_item__button{
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #1732cb;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none
}
