.calendar {
  position: relative;
  margin: 100px;
  width: max-content;

  &__input {
    padding: 5px;
    width: 100%;
  }

  &__dropdown {
    position: absolute;
    background: white;
    border: 1px solid #53535386;
    z-index: 10;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    cursor: pointer;
  }

  &__gridMini {
    display: grid;
    grid-template-columns: repeat(4, 3fr);

    > .day {
      text-align: left;
    }
  }

 &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
  
    &:hover {
      color: rgb(180, 179, 179);
      transition: .2s;
    }
  }
}

.day {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  color: #091029;
  transition: .2s;
  
  &--selected {
    background-color: #007bff93;
    color: white;
    border-radius: 16px;
  }

  &:hover:not(&--other-month) {
    background-color: rgba(128, 128, 128, 0.2);
    transition: .2s;
  }

  &--other-month {
    color: gray;
    cursor: not-allowed;
  }

  &__name {
    text-align: center;
    padding: 8px;
    cursor: pointer;
    color: #091029; 
  }
}

.blank {
  opacity: 0;
}

.clear-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}