.overlay {
    display: flex; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* Сидеть на вершине */
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background: #ffffff;

    .modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fefefe;
        margin: 15% auto; /* 15% сверху и по центру */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Может быть больше или меньше, в зависимости от размера экрана */
        color: #282c34;

        &__header {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            /* Кнопка закрытия */
            &__close-button {
                color: #aaa;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        &__content {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__open-button {
                background-color: #fbc5b4;
                padding: 20px;
                border-radius: 20px;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}
.open-button {
    background-color: #fbc5b4;
    padding: 20px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
}