.tabs-wrapper {
    overflow: hidden;
    display: flex;
    border: 3px solid #85c9c1;
    background-color: #d4f3ef;
  }
.tabs-wrapper>div {
  position: relative;
   margin-right: 10px;
}
.BodyTab {               
  padding: 6px 12px;
  border: 3px solid #85c9c1;
  border-top: none;
}
.btn {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}