@colorWhite: #ffffff;
@colorGrey: "grey";
@colorBaseBackground: #2e00e5;
@colorBaseBackgroundHover: #230698;
@colorBaseBackgroundError: #ff0000;
@colorBaseBackgroundErrorHover: #cc0404;
@colorBaseBackgroundWarning: #cb920d;
@colorBaseBackgroundWarningHover: #7d5907;
@colorBaseBackgroundSuccess: #05d22e;
@colorBaseBackgroundSuccessHover: #048a1f;

@colorBaseInput: #cfcfcf;

@defaultBorderRadius: 4px;

@defaultFontSize: 12px;
@smallFontSize: 10px;
@largeFontSize: 18px;
@extraLargeFontSize: 20px;

@mediumPadding: 20px;
