@background_color_off: red;
@background_color_on: blueviolet;
@border_circle_color: gray;
@background_circle_color: white;
.switch-button {
  width: 60px;
  height: 30px;
  border-radius: 24px;
  transition-duration: 0.5s;
  background-color: @background_color_off;
  cursor: pointer;
  .circle {
    height: 26px;
    width: 26px;
    border: 2px solid @border_circle_color;
    border-radius: 50%;
    transition-duration: 0.5s;
    background-color: @background_circle_color;
  }
}
.switch-button.enabled {
  background-color: @background_color_on;
  .circle {
    transform: translateX(30px);
  }
}
