.container--progress {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 30px;

  .progress {
    border: 1px solid black;
    height: 16px;
    border-radius: 10px;
  }

  .progress__bar {
    background-color: dodgerblue;
    text-align: center;
    height: 100%;
    font-weight: 600;
    border-radius: 10px;

    transition-duration: 1s;
  }

  .button_container {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
}
