$grey-color: rgb(103, 120, 135);
$border-black: 1.5px solid rgba(173, 192, 203, 0.225);
 
.value-input {
  display: inline-flex;
  align-items: center;
  border: $border-black;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
 
  &:focus-within,
  &:hover {
    border-color: $grey-color;
  }
 
  .value-input__operation {
    padding: 0.6rem;
    margin: 0;
    border: none;
    background-color: #f5f7fa;
    color: $grey-color;
    height: 100%;
 
    &:first-child {
      border-right: $border-black ;
    }
 
    &:last-child {
      border-left: $border-black;
    }
 
    &:hover {
      border-color: #ccc;
    }
 
  }
}
 
.value-input__value {
  height: 100%;
  width: 40px;
  margin: 0 5px;
  text-align: center;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: $grey-color;
}
 
.value-input__operation-active {
  cursor: not-allowed;
  color: rgb(188, 186, 186);
}