.calendar {
    position: relative;
    color: #6b86ff;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
    font-size: 20px;

    &__selector{
        padding: 5px;
        box-shadow: 3px 3px 20px black;
        z-index: 1;
        position: absolute;
        background-color: whitesmoke;
        display: flex;
    }



    &__button {
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 20px;
        line-height: 40px;
        
        &--disabled {
            pointer-events: none;
            color: #aaaaaa;
        }
        &--selected {
            background-color: #2e00e5;
            color: white;
        }
        &--today {
            color: #cc0404;
        }
        &:hover{
            color: #230698;
        }

        &__upper {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 40px;
        }
    }

    &__big-button {
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    &__upper {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        height: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        &__months {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__month-title {
        width: 110px;
        text-align: center;
        line-height: 40px;
    }

    &__quick-options {
        width: 120px;
        margin-right: 5px;
    }
    &__quick-option {
        color: #000;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 15px;
    }
}